.bracketWrapper {
    position: relative;
    display: flex;
    gap: 6rem;
    padding: 4rem;
    overflow-x: auto;
}

.round {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-width: 420px;
}

.round h3 {
    text-align: center;
    font-weight: 600;
}

/* SVG connector layer */
.svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.svg line {
    stroke: #ccc;
    stroke-width: .3;
}