.bracketWrapper {
    position: relative;
    padding: 4rem;
}

.round {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.svg line {
    stroke: #ccc;
    stroke-width: 2;
}