body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-sans);
  background-color: var(--bg);
  color: var(--text);
  padding: 0;
  margin: 0;
}



.score-row_players-wrapper {
  width: 400px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
}

.player-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0rem 1rem;
  border-bottom: 1px solid #e6e6e6;

}

.score-wrapper {
  /* flex: 1; */
  display: flex;
  gap: 1.2rem;
  align-items: center;
  padding-right: .5rem;
}