/* Body */
.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin: 0 20rem; */
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .right-section {
    grid-template-columns: 1fr;
  }
}