.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 0 1rem;
}

.communityCard {
    border: 1px solid black;
    border-radius: 20%;
    padding: 1rem;
}